python==3.6.9
googleplaces==1.4.1
pandas==0.19.2
numpy==1.15.4
matplotlib==2.0.0
geopandas==0.5.1
sklearn==0.20.1
shapefile==2.1.0
shapely==1.6.4.post2
folium==0.10.0
scipy==1.1.0
pulp==1.6.10
IPython==6.0.0